.body {
  background-color: rgba(122, 89, 103, 0.8) !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  margin-bottom: 0 !important;
  color: white !important;
}

.body p {
  margin-bottom: 0 !important;
}
