<div class="container-fluid header">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mx-auto w-100"
    style="max-width: 1200px;">

    <nav class="nav nav-custom justify-content-center justify-content-md-start">
      <a routerLink="/" class="nav-link" aria-current="page">Inicio</a>
      <a routerLink="/aboutMe" class="nav-link">Sobre mí</a>
      <a routerLink="/CV" class="nav-link">CV</a>
      <a routerLink="/projects" class="nav-link">Proyectos</a>
      <a routerLink="/contact" class="nav-link">Contacto</a>
    </nav>

  </div>
</div>
