.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #fceef5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
}

.header a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.header a:hover {
    text-decoration: underline;
    color: #a11b63;
    transform: scale(1.05);
    font-weight: bold;
}
