<header class="container-fluid py-3 d-flex justify-content-between align-items-center">
  <span class="logo-mini fw-bold">PORTFOLIO | Front-End Web Developer</span>

  <div class="d-flex align-items-center gap-2">
    <img src="assets/img/CV_Photo.jpg" class="author-img rounded-circle" alt="perfil">
    <div>
      <p class="author-name m-0 fw-bold">Carmen Varela Iglesias</p>
      <a href="https://www.linkedin.com/in/carmen-varela-iglesias/" target="_blank" rel="noopener noreferrer"
        class="d-flex align-items-center link-custom">
        <i class="bi bi-linkedin me-1" style="font-size: 16px;"></i>
        LinkedIn
      </a>
    </div>
  </div>
</header>

<div class="background-title text-center">
  <span class="bg-title">PORT</span>
  <span class="bg-title">FOLIO</span>
</div>

<div class="text-center foreground-title mt-4">
  <span class="post">Port</span> <span class="folio">folio</span>
</div>

<section class="container laptop-section position-relative mt-5">
  <div class="window-card shadow-sm">
    <div class="window-card-header">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <hr>
    <div class="window-card-body">
      <h5 class="fw-bold m-0">¿Quién soy?</h5>
      <a routerLink="/aboutMe" class="m-0 small">Conóceme</a>
    </div>
  </div>

  <div class="text-center">
    <img src="assets/logos/laptop.svg" alt="Laptop" class="laptop-img img-fluid">
  </div>

</section>

<footer class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-sm">
  <p>&copy; 2025 Carmen Varela Iglesias | Desarrolladora Front-End | Todos los derechos reservados.</p>
</footer>
