:host {
  display: block;
  min-height: 100vh;
  background-color: #fceef5;
  font-family: 'Inria Serif', serif;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

.watermark-title {
  font-family: 'Koulen', sans-serif;
  font-weight: 700;
  color: rgba(90, 3, 50, 0.15);
  text-transform: uppercase;
  font-size: 25vw;
  line-height: 0.8;
  white-space: nowrap;
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 0;
}

.page-container {
  max-width: 900px;
  margin: 180px auto 30px auto;
  background-color: white;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.subtitle-main {
  font-family: 'Koulen', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  margin-top: -10px;
  margin-bottom: 20px;
  line-height: 1;
}

.img-container {
  position: relative;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ddd;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.slogan {
  font-family: 'Karantina', cursive;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 25px;
  color: #C00C6D;
  line-height: 1.1;
  text-transform: none;
}

.slogan-text {
  font-family: 'Inria Serif', serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
}

.sticky-note {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  transform: rotate(2deg);
  display: flex;
  justify-content: center;
}

.sticky-note img {
  max-width: 100%;
  height: auto;
}

.diagram-container {
  position: relative;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagram-container img {
  max-width: 100%;
  height: auto;
}

.hand-placeholder {
  position: relative;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.hand-placeholder img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn-custom {
  background-color: #DD73A2;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #5A0332;
  color: #DD73A2;
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .page-container {
    max-width: 70%;
  }
}

@media (max-width: 1199px) and (min-width: 577px) {
  .page-container {
    max-width: 900px;
  }
}

@media (max-width: 576px) {
  .page-container {
    padding: 20px;
    margin: 140px auto 30px auto;
    max-width: 95%;
  }

  .watermark-title {
    font-size: 38vw;
    top: 60px;
  }

  .subtitle-main {
    font-size: 2.5rem;
  }

  .img-container {
    height: 350px;
  }
}
