<div class="watermark-title">CONOCEME</div>

<div class="page-container">
    <header class="text-center mb-5">
        <h2 class="subtitle-main">¿QUIEN ES <span style="font-family: 'Italianno', cursive; color: #A11B63;">Carmen Varela Iglesias</span> ?</h2>
    </header>

    <section class="mb-5">
        <div class="img-container">
            <img src="/assets/img/me.jpg" alt="Fotografía de Carmen Varela Iglesias">
        </div>

        <p class="slogan text-center">No busco ser la mejor, sino dar siempre lo mejor de mi.</p>

        <p class="slogan-text">Soy desarrolladora front-end en formación. Considero que cuento con una base sólida
            en HTML5, CSS3 y JavaScript, además de experiencia en control de versiones con Git y GitHub.</p>

        <p class="slogan-text">Durante mis FCT autogestionadas, colaboré en AndaluGeeks ONG, participando en el
            desarrollo de una aplicación web destinada a la recopilación y consulta de términos en una plataforma tipo diccionario
            digital. Este proyecto me permitió trabajar en un entorno ágil con Trello, coordinarme en equipo y
            aplicar mis conocimientos en frontend mientras adquiría nociones de gestión de bases de datos.</p>

        <p class="slogan-text">Esa experiencia me enseñó a enfrentar proyectos reales con impacto, a valorar la
            importancia de la organización y la colaboración, y a consolidar mis competencias técnicas en el desarrollo web.</p>

        <p class="slogan-text">Me motiva crear interfaces funcionales, intuitivas y eficientes, seguir ampliando mi
            stack tecnológico y aportar valor en entornos profesionales donde pueda crecer como desarrolladora front-end.</p>

        <div class="sticky-note">
            <img src="assets/logos/fraseMotivadora.svg"
                alt="Frase motivacional de Grace Hopper">
        </div>
    </section>

    <section class="diagram-container">
        <img src="assets/logos/Hard-Skills.svg"
            alt="Hard Skills Diagrama">
    </section>

    <section class="diagram-container">
        <img src="assets/logos/Soft-SKiils.svg"
            alt="Soft Skills Diagrama">
    </section>

    <section class="hand-placeholder">
        <img src="assets/logos/mano.svg" alt="Mano sosteniendo elementos">
    </section>

</div>

<div class="text-center my-5 pb-5">
    <button class="btn-custom" routerLink="/CV">Puedes mirar mi CV aquí</button>
</div>
