@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italianno&family=Karantina:wght@400;700&family=Koulen&family=Kreon:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Playfair Display", serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    overflow-x: hidden;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0px !important;
  position: static !important;
}

#goog-gt-tt {
  display: none !important;
  visibility: hidden !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
